<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Musikator</title>
</head>
<body>
    <h1>Musikator</h1>
    <br>
    <!-- Display the question -->
    {% if question %}
        <p>{{ question }}</p>
        <form method="POST" action="/question">
            <input type="hidden" name="question_index" value="{{ question_index }}">
            <br>

            <!-- Display the answer options dynamically -->
            {% if choices %}
                {% for choice in choices %}
                    <button class="btn" type="submit" name="answer" value="{{ choice }}">{{ choice.capitalize() }}</button>
                {% endfor %}
            {% endif %}
        </form>
    {% endif %}

    <!-- Show the best song suggestion -->
    {% if best_song %}
        <h2>Suggested Music:</h2>
        <p><strong>Song Title:</strong> {{ best_song['title'] }}</p>
        <p><strong>Genre:</strong> {{ best_song['genre'] }}</p>
        <p><strong>Mood:</strong> {{ best_song['mood'] }}</p>
        <p><strong>Energy:</strong> {{ best_song['energy'] }}</p>
    {% else %}
        <h2>Answer questions to find a match.</h2>
    {% endif %}
<br>
<br>
<a href ="/">
    <input type="button" url="/" value="reset" width="200px" height ="50px">
</a>
</body>
</html>
